.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  min-height: calc(100vh - 90px);
}

.main-content {
  flex: 1;
  margin-left: 130px;
  width: 86%;
  margin-inline: auto;
}

.footer {
  background-color: black;
  height: 50px;
  font-size: 12px;
  font-weight: 200;
}

.footer-content {
  color: white;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: 90%;
}

#home-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: gray;
}

#cart-btn {
  background-color: transparent;
  border: none;
  font-size: 18px;
}

.order-panel {
  margin-top: 30px;
  margin-bottom: 30px;
}

.title {
  font-size: 20px;
}

mat-expansion-panel {
  width: 854px;
}

#map {
  width: 200px;
  height: 30px;
}

/* cart item  */

th {
  text-align: left;
  background-color: #f5f5f5;
  width: 1022px;
  height: 55px;
}

th > h2 {
  margin-top: 20px;
  margin-left: 20px;
}

table,
th,
tr {
  border: #e4e4e4 solid 2px;
  border-collapse: collapse;
}

.book-image {
  width: 70px;
  height: 90px;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 25px;
}

.list-book-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 80%;
}

.delete-btn > button {
  border: none;
  background-color: transparent;
  color: grey;
}

.title > span {
  font: normal normal normal 20px/24px Roboto, sans-serif;
  font-weight: 500;
}

.author > span {
  color: #9d9d9d;
  font: normal normal normal 17px/16px Roboto, sans-serif;
}

#actualPrice {
  color: #9d9d9d;
  text-decoration: line-through;
  margin-left: 10px;
  font-weight: 400;
}

.price > span {
  font: normal normal bold 17px/20px Roboto, sans-serif;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list {
  margin-top: 30px;
  margin-left: 5px;
}

#item-quan {
  font-size: 20px;
  width: 41px;
  height: 28px;
  border: 1px solid #dbdbdb;
  border-radius: 1px;
  text-align: center;
  padding-top: 6px;
}

.quantity {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.quant-btn {
  border-radius: 50%;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  width: 35px;
  height: 35px;
  font-size: 25px;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
}

#remove-btn {
  background-color: transparent;
  border: none;
  width: 42px;
  height: 15px;
  font-size: 18px;
}

.select-location {
  margin-left: 50%;
}

#place-order-btn {
  background-color: #3371b5;
  width: 151px;
  height: 35px;
  margin-left: 80%;
  border: none;
  color: white;
  border-radius: 4px;
}

#add-new-address-btn {
  border: #a03037 solid 2px;
  background-color: transparent;
  color: #a03037;
  width: 150px;
  height: 35px;
  margin-right: 20px;
  font-weight: 600;
  margin-left: 80%;
}

.input-fields {
  width: 280px;
  height: 45px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #dcdcdc;
  color: #333232;
}

.user-info {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#address-no,
#address-type {
  font-size: 20px;
  font-weight: 500;
}

.address-wrapper {
  margin-top: 20px;
  width: 75%;
}

.address-info-wrapper {
  margin-top: 10px;
}

.address-txtarea-wrapper {
  display: flex;
  flex-direction: column;
}

#address-textarea {
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  font: normal normal normal 14px/16px Roboto, sans-serif;
  height: 80px;
  margin-bottom: 20px;
  resize: none;
}

.town-state {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#edit-btn {
  background-color: transparent;
  border: solid 2px #a03037;
  font-size: 14px;
  color: #a03037;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 2px;
}

.cityOrTown-wrapper {
  display: flex;
  flex-direction: column;
}

.cityOrTown-wrapper > input {
  width: 251px;
  height: 45px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}
.state-wrapper {
  display: flex;
  flex-direction: column;
}

.state-wrapper > input {
  width: 251px;
  height: 45px;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
}

.editable-form {
  width: 75%;
}

.name-and-num-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit-form-address {
  display: flex;
  flex-direction: column;
  outline: none;
  margin-bottom: 20px;
  margin-top: 20px;
}

#edit-form-address-textbar {
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  font: normal normal normal 14px/16px Roboto, sans-serif;
  height: 80px;
}

.type {
  margin-top: 20px;
}

#address-checkbox {
  width: 15px;
  height: 15px;
}

#save-btn {
  position: absolute;
  visibility: hidden;
  background-color: transparent;
  color: #3371b5;
  font-size: 15px;
  font-weight: 600;
  border: #3371b5 solid 2px;
  margin-left: 5px;
}

#edit-btn.hideBtn {
  visibility: hidden;
  position: absolute;
}
#save-btn.showBtn {
  visibility: visible;
  position: relative;
}

.accordion-wrapper {
  margin-top: 40px;
}

.selectedAddress {
  width: 75%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.user.info {
  display: flex;
  flex-direction: column;
}

#edit-form-address-textbar {
  resize: none;
  border: 1px solid #dcdcdc;
  border-radius: 2px;
  font: normal normal normal 14px/16px Roboto, sans-serif;
  height: 80px;
}

.list-wrapper {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 25px;
}

.order-sum-list-book-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40%;
  width: 100%;
}

.order-summary-info {
  width: 250px;
}

.quantiy-with-price {
  width: 55px;
}

#final-price {
  width: 20px;
  text-align: right;
  font-size: 16px;
}

.total-price {
  width: 151px;
  height: 35px;
  margin-left: 80%;
}

.total-price > span {
  font-size: 20px;
}

.order-summary-book-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
