<div class="wrapper">
  <div class="main-content">
    <div class="navigation-btn">
      <button (click)="onClickHomeBtn()" id="home-btn">Home /</button>
      <button id="cart-btn">My Cart</button>
    </div>
    <div class="order-panel">
      <mat-accordion>
        <!-- main cart items -->
        <mat-expansion-panel [expanded]="true">
          <mat-expansion-panel-header>
            <mat-panel-title class="title"
              >My Cart ({{ items.length }})</mat-panel-title
            >
            <mat-panel-title>
              <mat-option class="select-location" value="current-location">
                <img
                  src="../../../assets/location.png"
                  style="width: 16px; vertical-align: middle; margin-right: 8px"
                />
                Mars
              </mat-option>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="cart-items" *ngFor="let item of items">
            <tr>
              <div class="list-wrapper">
                <div class="list-image">
                  <img
                    class="book-image"
                    src="../../../assets/book-cover.jpg"
                    alt="book-cover"
                  />
                </div>
                <div class="list-book-info">
                  <div class="info">
                    <div class="title">
                      <span id="book-title"
                        >{{ item.product_id.bookName }}</span
                      >
                    </div>
                    <div class="author">
                      <span id="book-author"
                        >by {{ item.product_id.author }}</span
                      >
                    </div>
                    <div class="price">
                      <span id="disPrice"
                        ><b>Rs.{{ item.product_id.discountPrice }}</b
                        ><span id="actualPrice"
                          >Rs.{{ item.product_id.price }}</span
                        ></span
                      >
                    </div>
                    <div class="buttons">
                      <div class="quantity">
                        <button
                          (click)="decreaseQuant(item._id)"
                          class="quant-btn"
                        >
                          -
                        </button>
                        <span id="item-quan">{{ item.quantityToBuy }}</span>
                        <button
                          (click)="increaseQuant(item._id)"
                          class="quant-btn"
                        >
                          +
                        </button>
                      </div>
                      <div class="remove-button">
                        <button (click)="removeItem(item._id)" id="remove-btn">
                          Remove
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </tr>
          </div>
          <button (click)="onClickPlaceOrder()" id="place-order-btn">
            PLACE ORDER
          </button>
        </mat-expansion-panel>

        <!-- customer details -->
        <mat-expansion-panel [expanded]="continueToAddress">
          <mat-expansion-panel-header>
            <mat-panel-title class="title">
              {{ !continueToAddress ? "Address Details" : "Customer Details" }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <!-- static form -->
          <button (click)="onClickAddNewAddress()" id="add-new-address-btn">
            Add New Address
          </button>
          <div *ngIf="!isAddNewAddress" class="customer-details-wrapper">
            <div class="user-info">
              <div class="name-wrapper">
                <label>Full Name</label>
                <br />
                <input [(ngModel)]="name" class="input-fields" />
              </div>
              <div class="mobnumber-wrapper">
                <label>Mobile Number</label>
                <br />
                <input [(ngModel)]="mobnumber" class="input-fields" />
              </div>
            </div>

            <div
              class="address-wrapper"
              *ngFor="let address of addressArray; let i = index"
            >
              <input
                (click)="onClickCheckBox(i)"
                id="address-checkbox"
                type="checkbox"
              />

              <span id="address-no">{{ i + 1 }}. </span>
              <span id="address-type">{{ address.type }}</span>
              <button
                (click)="onEditAddress(i)"
                id="edit-btn"
                [ngClass]="{ hideBtn: isEditClicked && editBtnIndex === i }"
              >
                Edit
              </button>
              <button
                (click)="onClickSave(i)"
                id="save-btn"
                [ngClass]="{ showBtn: isEditClicked && saveBtnIndex === i }"
              >
                Save
              </button>
              <!-- readonly -->
              <div class="address-info-wrapper">
                <div class="address-txtarea-wrapper">
                  <label>Address</label>
                  <textarea
                    [disabled]="!(isEditClicked && selectedIndex === i)"
                    id="address-textarea"
                    value="{{ address.address }}"
                    [(ngModel)]="address.address"
                  ></textarea>
                </div>
                <div class="town-state">
                  <div class="cityOrTown-wrapper">
                    <label>City/Town</label>
                    <input
                      [disabled]="!(isEditClicked && selectedIndex === i)"
                      matInput
                      value="{{ address.cityOrTown }}"
                      [(ngModel)]="address.cityOrTown"
                    />
                  </div>
                  <div class="state-wrapper">
                    <label>State</label>
                    <input
                      [disabled]="!(isEditClicked && selectedIndex === i)"
                      matInput
                      value="{{ address.state }}"
                      [(ngModel)]="address.state"
                    />
                  </div>
                </div>
              </div>
            </div>
            <button (click)="onClickContinue()" id="place-order-btn">
              Continue
            </button>
          </div>

          <!-- new address form -->
          <div *ngIf="isAddNewAddress" class="editable-form">
            <form [formGroup]="addressForm">
              <div class="name-and-num-wrapper">
                <div class="edit-name-wrapper">
                  <label>Full Name</label>
                  <br />
                  <input class="input-fields" />
                </div>
                <div class="edit-num-wrapper">
                  <label>Mobile Number</label>
                  <br />
                  <input class="input-fields" />
                </div>
              </div>
              <!-- address -->
              <div class="edit-form-address">
                <label>Address</label>
                <textarea id="edit-form-address-textbar"></textarea>
              </div>

              <!-- city/town -->
              <div class="town-state">
                <div class="cityOrTown-wrapper">
                  <label>City/Town</label>
                  <input matInput />
                </div>
                <div class="state-wrapper">
                  <label>State</label>
                  <input matInput />
                </div>
              </div>

              <!-- type radio button -->
              <div class="type">
                <label>Type</label>
                <mat-radio-group
                  formControlName="type"
                  style="display: flex; gap: 20px"
                >
                  <mat-radio-button value="Home">Home</mat-radio-button>
                  <mat-radio-button value="Work">Work</mat-radio-button>
                  <mat-radio-button value="Others">Others</mat-radio-button>
                </mat-radio-group>
              </div>
            </form>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <mat-toolbar class="footer">
    <div class="footer-content">
      <p>Copyright © 2025, Bookstore Private Limited. All Rights Reserved</p>
    </div>
  </mat-toolbar>
</div>
