.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.toolbar-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: 86%;
}

.main-content {
  flex: 1;
}

.toolbar {
  background-color: #a03037;
  position: fixed;
  top: 0px;
  z-index: 1;
}

.left {
  display: flex;
  flex-direction: row;
}

#bookstore-label {
  margin-left: 10px;
  color: white;
  font: normal normal normal 24px/26px Roboto, sans-serif;
  font-weight: 200;
  background-color: transparent;
  border: none;
}

.search-bar {
  width: 490px;
  height: 37px;
  border: none;
  outline: none;
  padding: 0px 35px;
}

#search-glass-icon {
  position: relative;
  left: 28px;
  color: gray;
  top: 8px;
}

.center {
  margin-left: 2%;
  margin-right: 35%;
}

.end {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
}

.icon {
  color: white;
}

#menu-white-bar {
  visibility: hidden;
  position: absolute;
}

#menu-white-bar.show {
  visibility: visible;
  position: absolute;
  height: 7px;
  width: 65px;
  border-radius: 10px;
  background-color: white;
  border: none;
  outline: none;
}

.mat-btn {
  padding: 0px;
  border: none;
  outline: none;
  width: 50px;
  height: 65px;
}

.profile-icon {
  color: white;
}

.profile-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.menu-content {
  padding: 0px 10px 5px 20px;
}

.user-menu-content {
  margin-right: 20px;
  margin-left: 20px;
  padding: 0px 20px 5px 10px;
}

#menu-auth-btn {
  width: 127px;
  height: 33px;
  border: #a03037 1px solid;
  color: #a03037;
  background-color: transparent;
  margin-bottom: 15px;
}

.menu-bottom-btn {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 15px;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#profile-btn {
  width: 50px;
  height: 20px;
  outline: none;
  border: none;
  padding: 0px;
  background-color: transparent;
  color: #878787;
  margin-left: 19px;
  font-size: 15px;
}

.bottom-btn {
  width: 100px;
  height: 20px;
  border: none;
  outline: none;
  padding: 0px;
  background-color: transparent;
  color: #878787;
}

.order-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#order-button {
  margin-left: 5px;
  font-size: 15px;
}

.bottom-btn {
  font-size: 15px;
}

.wishlist-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#logout-btn {
  margin-top: 10px;
  width: 123px;
  height: 33px;
  background-color: transparent;
  color: #a03037;
  border: #a03037 solid 1px;
}

#cart-label {
  position: absolute;
  top: 5px;
  right: 1px;
  color: white;
  font-weight: 100;
}

#guest-profile-label {
  position: absolute;
  top: 55%;
  right: 14%;
  padding: 0px;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

#user-profile-label {
  position: absolute;
  top: 55%;
  right: 14.3%;
  padding: 0px;
  color: white;
  font-weight: 300;
  font-size: 14px;
}

.material-symbols-outlined {
  font-size: 50px;
}
