<div class="wrapper">
  <div class="nav-btn">
    <button (click)="onClickHome()" id="home-nav-btn">Home /</button>
    <button id="book-detail-btn">Book ({{ bookIndex }})</button>
  </div>
  <div class="book-details-wrapper">
    <div class="book-image">
      <div class="side-image">
        <img
          class="side-img"
          src="../../../assets/book-cover.jpg"
          alt="book-cover"
          (click)="shareUrl('../../../assets/book-cover.jpg')"
        />
        <img
          class="side-img"
          src="../../../assets/book-cover-2.jpg"
          alt="book-cover"
          (click)="shareUrl('../../../assets/book-cover-2.jpg')"
        />
      </div>
      <div class="main-image">
        <img class="main-img" src="{{ mainImgUrl }}" alt="book-cover" />
        <div class="bottom-btn">
          <button
            *ngIf="!showQuantBtn"
            (click)="onClickAddToCart()"
            id="add-to-cart-btn"
            style="cursor: pointer"
          >
            ADD TO BAG
          </button>

          <div class="quantity" [ngClass]="{ active: showQuantBtn }">
            <button
              style="cursor: pointer"
              (click)="decreaseQuant()"
              class="quant-btn"
            >
              -
            </button>
            <span id="item-quan">{{
              cartItems.length > 0 ? cartItems[0].quantityToBuy : 0
            }}</span>
            <button
              style="cursor: pointer"
              (click)="increaseQuant()"
              class="quant-btn"
            >
              +
            </button>
          </div>

          <button
            style="cursor: pointer"
            (click)="onClickAddToWishList()"
            id="wishlist-btn"
          >
            ❤︎ {{ isItemWishlisted ? "WISHLISTED" : "WISHLIST" }}
          </button>
        </div>
      </div>
    </div>

    <div class="book-details">
      <div class="book-info">
        <div class="title">
          <h1 id="book-title">{{ targetProduct[0].bookName }}</h1>
        </div>
        <div class="author">
          <span id="book-author">by {{ targetProduct[0].author }}</span>
        </div>
        <div class="rating-btn">
          <button id="rating">4.5 ★</button> <span id="quantity">(20)</span>
        </div>
        <div class="price">
          <span id="disPrice"
            ><b>Rs. {{ targetProduct[0].discountPrice }}</b></span
          >
          <span id="actualPrice">Rs.{{ targetProduct[0].price }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>

      <div class="book-descrip">
        <h2>• Book Detail</h2>
        <p style="text-align: justify">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloremque
          quaerat ipsa nihil voluptatibus quia in, odio eos? Ullam maxime at
          nam. Maxime et laboriosam provident eaque commodi velit nobis,
          reiciendis aspernatur nam incidunt culpa eius cumque dolores sint
          amet. Alias fugiat illo perspiciatis dolor quo laborum, voluptate
          architecto soluta impedit?
        </p>
      </div>
      <mat-divider></mat-divider>

      <div class="feedback-wrapper">
        <h1>Customer Feedback</h1>

        <div class="feedback-input-wrapper">
          <h2>Overall Rating</h2>
          <div class="rating">
            <button style="cursor: pointer" (click)="onClickOneStar()">
              <mat-icon [ngClass]="{ 'material-symbols-outlined': oneStar }"
                >star_outline</mat-icon
              >
            </button>
            <button style="cursor: pointer" (click)="onClickTwoStar()">
              <mat-icon
                [ngClass]="{ 'material-symbols-outlined': oneStar && twoStar }"
                >star_outline</mat-icon
              >
            </button>
            <button style="cursor: pointer" (click)="onClickThreeStar()">
              <mat-icon
                [ngClass]="{
                  'material-symbols-outlined': oneStar && twoStar && threeStar
                }"
                >star_outline</mat-icon
              >
            </button>
            <button style="cursor: pointer" (click)="onClickFourStar()">
              <mat-icon
                [ngClass]="{
                  'material-symbols-outlined':
                    oneStar && twoStar && threeStar && fourStar
                }"
                >star_outline</mat-icon
              >
            </button>
            <button style="cursor: pointer" (click)="onClickFiveStar()">
              <mat-icon
                [ngClass]="{
                  'material-symbols-outlined':
                    oneStar && twoStar && threeStar && fourStar && fiveStar
                }"
                >star_outline</mat-icon
              >
            </button>
          </div>

          <textarea
            id="feedback-textarea"
            placeholder="Write your review..."
            matInput
            cdkTextareaAutosize
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            [(ngModel)]="feedback"
          ></textarea>

          <button style="cursor: pointer" (click)="onClickSubmit()">
            Submit
          </button>
        </div>
      </div>

      <div class="feedback-comments" *ngFor="let comment of feedbackList">
        <div class="user-name">
          <mat-icon>account_circle</mat-icon>
          <span id="feedback-user-name">{{ comment.user_id.fullName }}</span>
        </div>
        <div class="feedback-comment-stars">
          <span *ngIf="comment.rating === 1">⭐</span>
          <span *ngIf="comment.rating === 2">⭐⭐</span>
          <span *ngIf="comment.rating === 3">⭐⭐⭐</span>
          <span *ngIf="comment.rating === 4">⭐⭐⭐⭐</span>
          <span *ngIf="comment.rating === 5">⭐⭐⭐⭐⭐</span>
        </div>
        <div class="comments">
          <p>{{ comment.comment }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
