<div class="wrapper">
  <img src="../../../assets/order-place-message.png" />
  <div class="message">
    <p>Hurray!!! Your order is confirmed</p>
    <p>the Order ID is #123456 save the Order ID for</p>
    <p>further communication...</p>
  </div>

  <table class="contact-us">
    <tr>
      <th>Email us</th>
      <th>Contact us</th>
      <th>Address</th>
    </tr>

    <tr>
      <td>shubham&#64;admin.com</td>
      <td>+91 81634 75881</td>
      <td id="address">
        42, 14th Main, 15th Cross, Sector 4, Opp to BDA complex, near Kumarakom
        restaurant, HSR Layout, Bangalore 560034
      </td>
    </tr>
  </table>

  <button (click)="onClickContinueShopping()" id="continue-shopping-btn">
    CONTINUE SHOPPING
  </button>
</div>
